<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TouchRate</title>
  </head>
  <body>



 <div>
    <table>
      <tr>
        <td>
          <ul class="list">
            <li><%= image_tag("building104.png")%></li>
            <li><%= overallData("30days", "total_users") %></li>
          </ul>
        </td>
        <td>
          <ul class="list">
            <li><%= image_tag("users6.png") %></li>
            <li><%= overallData("30days", "total_sessions")%></li>
          </ul>
        </td>
        <td>
          <ul class="list">
            <li><%= image_tag("shop4.png")%></li>
            <li><%= maxStore("storeName") %></li>
            <li></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <ul class="list">
            <li><%= image_tag("calendar146.png")%></li>
            <li><%= dayMaxEng %></li>
        </td>
        <td>
          <ul class="list">
            <li><%= image_tag("hourglass.png")%></li>
            <li><%= overallData("30days", "avg_time")%></li>
          </ul>
        </td>
        <td>
          <ul class="list">
          <li><%= image_tag("active4.png")%></li>
          <li><%= topCatandSub %></li>
          <li> </li>
          <ul>
        </td>
      </tr>
      <tr>
        <td class="cell">
          <ul class="list0">
            <li><%= categories(6)%></li>
            <li class="icons"><%= image_tag("poker4.png")%></li>
            <li style="float:right;">%<%= percentCategories(6)%></li>
          </ul>
          <ul class="list0">
            <li><%= categories(5)%></li>
            <li class="icons"><%= image_tag("kids1.png")%></li>
            <li style="float:right;">%<%= percentCategories(5)%></li>
          </ul>
        </td>
        <td class="cell">
          <ul class="list0">
            <li><%= categories(4)%></li>
            <li class="icons"><%= image_tag("horse166.png")%></li>
            <li style="float:right;">%<%= percentCategories(4)%></li>
          </ul>
          <ul class="list0">
            <li><%= categories(3)%></li>
            <li class="icons"><%= image_tag("kids1.png")%></li>
            <li style="float:right;">%<%= percentCategories(3)%></li>
          </ul>
        </td>
        <td class="cell">
          <ul class="list0">
            <li><%= categories(2)%></li>
            <li class="icons"><%= image_tag("game118.png")%></li>
            <li style="float:right;">%<%= percentCategories(2)%></li>
          </ul>
          <ul class="list0">
            <li><%= categories(1)%></li>
            <li class="icons"><%= image_tag("lego2.png")%></li>
            <li style="float:right;">%<%= percentCategories(1)%></li>
          </ul>
        </td>
      </tr>
    </table>


    <div id="month" style="height: 250px; width: 100%"></div>
  <footer
  <div class="credits">Icons made by <a href="http://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>, <a href="http://www.flaticon.com/authors/balraj-chana" title="Balraj Chana">Balraj Chana</a>, <a href="http://www.flaticon.com/authors/recep-kutuk" title="Recep Kutuk">Recep Kutuk</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
  </footer>
</html>
